<html lang="en" layout:decorate="~{layout}">

<body>
    <div layout:fragment="content">
        <div class="container my-5">

            <div class="text-center border">
                <h1>Your Profile</h1>
                <hr>
                <form th:action="@{/profileImg}" method="post" enctype="multipart/form-data">
                    <div id="profileImgContainer">
                        <img th:src="@{|/profiles/${profileForm.storedFileName}|}" id="originalProfileImg"
                            class="rounded-pill" style="width: 200px; height: 200px;" alt="...">
                    </div>
                    <div class="d-flex justify-content-center m-3">
                        <input class="form-control" type="file" id="profileImgInput" name="multipartFile"
                            style="width: 250px;">
                    </div>
                    <button type="button" class="w-20 btn btn-outline-dark me-1" id="defaultImgBtn">Default Profile
                        Image</button>
                    <button type="reset" class="w- btn btn-outline-dark" id="resetBtn">Cancel</button>
                    <br>
                    <button type="submit" class="w-20 btn btn-outline-dark mt-2" id="checkImgBtn">Change Image</button>
                </form>


                <hr>
                <form class="form-profile" th:action="@{/profile}" th:object="${profileForm}" method="post">
                    <div th:replace="~{error :: errorsFragment}"></div>
                    <input type="hidden" th:field="*{storedFileName}" />
                    <div class="mb-3 row">
                        <label for="username" class="col-sm-2 col-form-label">Username</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class=" form-control-plaintext" th:field="*{username}"
                                value="test1">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="password" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" th:field="*{password}">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="confirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" th:field="*{confirmPassword}">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="email" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-lg" th:field="*{email}">
                        </div>
                    </div>
                    <button type="submit" class="w-25 btn btn-outline-dark">Check</button>
                </form>
            </div>
        </div>

        <script>
            const profileImgInput = document.querySelector("#profileImgInput")
            const profileImgContainer = document.querySelector("#profileImgContainer");
            const originalProfileImg = document.querySelector("#originalProfileImg").cloneNode(true);
            const resetBtn = document.querySelector("#resetBtn");
            const defaultImgBtn = document.querySelector("#defaultImgBtn");
            const checkImgBtn = document.querySelector("#checkImgBtn");

            let isChanged = false;

            checkImgBtn.addEventListener("click", (e) => {

                if (!isChanged) {
                    alert("변경사항이 없습니다.");
                    e.preventDefault();
                    return;
                }

                const confirmation = confirm("프로필을 변경하시겠습니까?");
                if (confirmation) {
                    profileForm.submit();
                } else {
                    e.preventDefault();
                }

            });

            profileImgInput.addEventListener("change", (e) => {
                const reader = new FileReader();
                reader.readAsDataURL(e.target.files[0]);

                reader.onload = function (event) {

                    profileImgContainer.innerHTML = "";

                    const newProfileImg = document.createElement("img")
                    newProfileImg.setAttribute("src", event.target.result)
                    newProfileImg.setAttribute("style", "width: 200px; height: 200px;")
                    newProfileImg.setAttribute("class", "rounded-pill")
                    profileImgContainer.appendChild(newProfileImg);
                }

                isChanged = true;

                alert("변경 후 프로필 사진 변경을 눌러주세요")
            });

            resetBtn.addEventListener("click", (e) => {
                alert("변경사항은 저장되지 않습니다")
                location.reload();

            });

            defaultImgBtn.addEventListener("click", (e) => {

                profileImgContainer.innerHTML = "";
                profileImgInput.value = "";

                const defaultProfileImg = document.createElement("img")
                defaultProfileImg.setAttribute("src", "/profiles/default/defaultProfile.png")
                defaultProfileImg.setAttribute("style", "width: 200px; height: 200px;")
                defaultProfileImg.setAttribute("class", "rounded-pill")
                profileImgContainer.appendChild(defaultProfileImg);

                isChanged = true;

                alert("변경 후 프로필 사진 변경을 눌러주세요");
            })

        </script>
    </div>
</body>


</html>